
a {
    color: black;
    text-decoration: none;
}
#Hello {
    font-size: 35;
   font-style: lobster;
    color: black;
    top: 1500px;
    right: 1300px;
    
}
.links :hover {
color: blue;
cursor: pointer;
font-size: 22;
}

body #background1 {
      
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    background-size: cover;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom:0px;
    margin-left: 0px;
}
